.about {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0 ,0) 0%, var(--dark-green) 30%);
    padding: 0 0 var(--large-gap) 0;

    h2, p {
        color: var(--white);
    }

    p {
        margin-bottom: var(--small-padding);
    }
}