nav {
  position: relative;
  z-index: 101;
  background-color: var(--brown);
  border-radius: 3rem;
  color: var(--white);
  padding: 1.5rem;
  width: 80%;
  left: 10%;
  margin-bottom: var(--inner-section-padding);
  & ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    & li:first-child{
      margin-right: auto;
    }
  }
}