:root {
  --gray: #434343;
  --white: #F5F4F3;
  --green: #54906D;
  --green-transparent: rgba(84, 144, 109, 0.5);
  --dark-green: #2C3634;
  --brown: #716963;
  --black: #000000;

  --inner-section-padding: 4.5rem;

  --font-size: 1.25rem;
  
  font-family: 'Inter';
}


body {
    font-size: var(--font-size);
    font-weight: normal;
    color: var(--gray);
}

.has-text-align-center {
    text-align: center;
}

h1 {
  font-family: "Guilty Pleasure";
  color: var(--green-transparent);
  font-size: 12.5rem;
  line-height: normal;
  text-align: center;
}

h2, #header h1 {
  text-transform: uppercase;
  color: var(--green);
  font-size: 2.25rem;
  font-style: medium;
  line-height: normal;
  margin-bottom: var(--inner-section-padding);
}

h3 {
  font-size: 1.5rem;
}

section {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 1rem;
}

p {
  text-align: center;
  line-height: 170%;
  max-width: 900px;
  margin: 0 auto;
}