// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;


// BREAKPOINTS
$mobile: 900;
$desktop: $mobile + 1;


// COLORS
// $copy: ;
// $bgcolor: ;
$bggray: #363636;
$primary: #FFAD6E;
$orange: #D5874C;
$darkgray:#595959;
$middlgray: #D5D5D5;
$lightgray: #F7F7F7;
$bgorange: #FFF7F2;

// spaces
$gap_standard: 1rem;
$section_mobile: 4rem;
$burger: 25px;


$gap_desktop: 2.25rem;
$section_desktop: calc($section_mobile*2);


// font sizes
$fontsize_text: 1rem;
$fontsize_h1: 2.37rem;
$fontsize_h2: 1.75rem;
$fontsize_h3: 1.37rem;


$fontsize_text_desktop: 1.375rem;
$fontsize_h1_desktop: 4.25rem;
$fontsize_h2_desktop: $fontsize_h1_desktop;
$fontsize_h3_desktop: 2.375rem;
$gap_heading_desktop: 3rem;

