body {
    font-size: var(--font-size);
    font-weight: normal;
    color: var(--gray);
}

@mixin heading ($fontsize) {
    text-transform: uppercase;
    font-weight: 500;
    line-height: normal;
    font-size: $fontsize;
}

h1 {
    @include heading(12.5rem);
    font-family: "Guilty Pleasure";
    color: var(--green-transparent);
    text-align: center;
}

h2,
#header h1 {
    @include heading(2.25rem);
    color: var(--green);
    margin-bottom: var(--inner-section-padding);
}

h3 {
    @include heading(1.5rem);
}

section {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1rem;
}

p {
    line-height: 170%;
    max-width: 900px;
    margin: 0 auto;
}
