@mixin center-margin($width: 1300px) {
    max-width: $width;
    margin: 0 auto;
}

@mixin heading ($fontsize) {
    text-transform: uppercase;
    font-weight: 500;
    line-height: normal;
    font-size: $fontsize;
}

html{
  scrollbar-width: thin;
  scrollbar-color: var(--brown) var(--white);
  scroll-behavior: smooth;
}

body {
    @include center-margin(2200px);
    font-size: var(--font-size);
    font-weight: normal;
    background-color: var(--white);
    color: var(--gray);
    position: relative;
}


h1 {
    @include heading(12.5rem);
    font-family: "Guilty Pleasure";
    color: var(--green-transparent);
    text-align: center;
}

h2,
#header h1 {
    @include center-margin();
    @include heading(2.25rem);
    color: var(--green);
    margin-bottom: var(--inner-section-padding);
}

h3 {
    @include heading(1.5rem);
}

section {
    @include center-margin();
    padding: 0 1rem;
}

p {
    @include center-margin($element-width);
    line-height: 170%;
}

.custom-cursor{
  line-height: 1;
  position: fixed;
  z-index: 999; 
  pointer-events: none;

  &.hovered{
    & .cursor-bubble{
      padding: 3rem !important;
    }
  }
  
  & .cursor-bubble{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s var(--ease);
  }
  .cursor-box{
    color: var(--brown);
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    top: 0.5em;
    bottom: 0.5em;
    transition: all 0.4s var(--ease);
    & .corner{
      width: 0.5em;
      height: 0.5em;
      &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: var(--brown);
      }
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--brown);
      }
      &.left-top{
        top: 0;
        left: 0;
        position: absolute;
        
      }
      &.right-top{
        top: 0;
        right: 0;
        position: absolute;
        transform: rotate(90deg);
      }
      &.left-bottom{
        bottom: 0;
        left: 0;
        position: absolute;
        transform: rotate(270deg);
      }
      &.right-bottom{
        bottom: 0;
        right: 0;
        position: absolute;
        transform: rotate(180deg);
      }

    }
  }
}

.contain {
  width: clamp(300px, 100%, $element-width);
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}


@media screen and (max-width: $breakpoint) {

  :root {
    --inner-section-padding: 2.25rem;
    --inner-component-padding: 2.25rem;
    --small-padding: 0.75rem;
    --large-gap: 2.25rem;
  }

  .custom-cursor{
    display: none;
  }

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2,
    #header h1 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

