:root {
  --gray: #434343;
  --white: #F5F4F3;
  --green: #54906D;
  --green-transparent: rgba(84, 144, 109, 0.5);
  --dark-green: #2C3634;
  --brown: #716963;
  --black: #000000;

  --inner-section-padding: 4.5rem;
  --inner-component-padding: 2.75rem;
  --small-padding: 1.25rem;
  --large-gap: 3.75rem;

  --font-size: 1.25rem;
  --ease: cubic-bezier(.14,.8,.4,1);
  
  font-family: 'Inter';
}

$breakpoint: 932px;
$element-width: 900px;