$primaryColor: #2d7cf1;
$secondaryColor: #ff0077;

:root {
  --gray: #434343;
  --white: #F5F4F3;
  --green: #54906D;
  --green-transparent: rgba(84, 144, 109, 0.5);
  --dark-green: #2C3634;
  --brown: #716963;
  --black: #000000;

  --inner-section-padding: 4.5rem;

  --font-size: 1.25rem;
  
  font-family: 'Inter';
}